<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="header">
      <div class="button_home">
        <div class="hamburger" onclick="toggleSidebar()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <a href="#">首頁</a>
        </div>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search" />
        <select>
          <option>文章標題</option>
          <option>文章內容</option>
          <option>留言</option>
        </select>
        <button>搜尋</button>
      </div>
    </div>

    <div style="display: flex; position: relative;">
      <div class="sidebar" id="sidebar">
        <ul>
          <!-- <li>站點問題</li> -->
          <li>
            <a href="./chat.html">閒聊</a>
          </li>
          <li>新聞</li>
          <li>政治</li>
          <li>遊戲</li>
        </ul>
      </div>
      <div class="content">
        <div class="article_block" style="width: 50%">
          <h2>最新文章</h2>
          <div class="article">
            <h3>新聞1226</h3>
            <p>位置: 新聞</p>
            <p>留言數: 1</p>
            <p>日期: 2023-12-26 06:46</p>
          </div>
          <div class="article">
            <h3>新聞1226</h3>
            <p>位置: 新聞</p>
            <p>留言數: 1</p>
            <p>日期: 2023-12-26 06:46</p>
          </div>
          <div class="article">
            <h3>新聞1226</h3>
            <p>位置: 新聞</p>
            <p>留言數: 1</p>
            <p>日期: 2023-12-26 06:46</p>
          </div>
          <div class="article">
            <h3>新聞1226</h3>
            <p>位置: 新聞</p>
            <p>留言數: 1</p>
            <p>日期: 2023-12-26 06:46</p>
          </div>
          <div class="article">
            <h3>新聞1226</h3>
            <p>位置: 新聞</p>
            <p>留言數: 1</p>
            <p>日期: 2023-12-26 06:46</p>
          </div>
        </div>
        <div class="article_block" style="width: 50%">
          <h2>最多留言文章</h2>
          <div class="article">
            <h3>數學家怎麼漆油漆？</h3>
            <p>位置: 閒聊</p>
            <p>留言數: 13</p>
            <p>日期: 2023-12-25 07:15</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      function toggleSidebar() {
        let sidebar = document.getElementById("sidebar");
        let hamburger = document.querySelector(".hamburger");
        let mainContent = document.querySelector(".content");
        
        // 切換側邊欄顯示
        sidebar.classList.toggle("visible");
        hamburger.classList.toggle("selected");

        // 切換主要內容區域的 margin-left
        if (sidebar.classList.contains("visible")) {
          mainContent.style.marginLeft = "15%";
        } else {
          mainContent.style.marginLeft = "0";
        }
      }
    </script>
  </body>
</html>
