<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="button_home">
        <div class="hamburger" onclick="toggleSidebar()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <a href="#">首頁</a>
        </div>
      </div>
      <div class="search-bar">
        <form
          id="search-form"
          class="search-form"
          onsubmit="return get_search_string(event);"
        >
          <input type="text" name="keywords" placeholder="請輸入想搜尋的內容" />
          <select name="type">
            <option>標題</option>
            <option>內容</option>
            <option>留言內容</option>
          </select>
          <input type="submit" value="搜尋" />
        </form>
      </div>
    </div>

    <div style="display: flex; position: relative; height: 100vh">
      <div class="sidebar" id="sidebar">
        <ul>
          <li>
            <a href="/chat">閒聊</a>
          </li>
          <li>
            <a href="/news">新聞</a>
          </li>
          <li>
            <a href="/games">遊戲</a>
          </li>
          <li>
            <a href="/sports">運動</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="newest_article_five" style="width: 50%">
          <h2>最新文章</h2>
          <!-- 建立時間最新的五篇文章 -->
        </div>
        <div class="most_comments_five" style="width: 50%">
          <h2>最多留言文章</h2>
          <!-- 留言最多的五篇文章 -->
        </div>
      </div>
    </div>

    <script>
      function toggleSidebar() {
        let sidebar = document.getElementById("sidebar");
        let hamburger = document.querySelector(".hamburger");
        let mainContent = document.querySelector(".content");

        // 切換側邊欄顯示
        sidebar.classList.toggle("visible");
        hamburger.classList.toggle("selected");

        // 切換主要內容區域的 margin-left
        if (sidebar.classList.contains("visible")) {
          mainContent.style.marginLeft = "15%";
        } else {
          mainContent.style.marginLeft = "0";
        }
      }

      </script>
    <script src="../static/header_tool.js"></script>
    <script src="../static/home_page.js"></script>
  </body>
</html>
