<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>搜尋結果</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="button_home">
        <div class="hamburger" onclick="toggleSidebar()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <a href="/">首頁</a>
        </div>
      </div>
      <div class="search-bar">
        <form id="search-form" class="search-form">
          <input type="text" name="keywords" placeholder="Search" />
          <select name="type">
            <option>標題</option>
            <option>內容</option>
            <option>留言內容</option>
          </select>
          <input type="submit" value="搜尋" />
        </form>
      </div>
    </div>

    <div style="display: flex; position: relative">
      <div class="sidebar" id="sidebar">
        <ul>
          <li>
            <a href="http://127.0.0.1:5000/chat">閒聊</a>
          </li>
          <li>新聞</li>
          <li>政治</li>
          <li>遊戲</li>
        </ul>
      </div>
      <div
        class="content"
        style="flex-direction: column; height: 100vh; align-items: center"
      >
        <div class="article_block" style="width: 45%">
          <!-- 查詢結果顯示插入區塊 -->
          </div>
        </div>
      </div>
    </div>

    <script src="../static/header_tool.js"></script>
    <script src="../static/searchDB.js"></script>
  </body>
</html>
